<main class="screen-container link">
  <div class="box-container">
    <figure class="profile-image">
      <img class="img-profile" src="/assets/images/profile-pic.png" alt="Profile Image">
    </figure><!--profile-image-->
    <span class="name-info">Alison Rodrigues  |  @dev.alison</span>
    <section class="link-container">
      <div class="social-link linkedin">
        <a href="https://www.linkedin.com/in/alison-rodrigues-si/" target="_blank">LinkedIn</a>
        <img src="/assets/icons/linkedin.png" alt="LinkedIn Icon" class="icon linkedin">
      </div><!--link linkedin-->
      <div class="social-link github">
        <a href="https://github.com/Alison-Rodrigues" target="_blank">GitHub</a>
        <img src="/assets/icons/github.png" alt="GitHub Icon" class="icon github">
      </div><!--social-link github-->
      <div class="social-link instagram">
        <a href="https://www.instagram.com/dev.alison/" target="_blank">Instagram</a>
        <img src="/assets/icons/instagram.png" alt="Instagram Icon" class="icon instagram">
      </div><!--social-link instagram-->
      <div class="social-link email">
        <a href="mailto:techsolution.ar@gmail.com" target="_blank">E-Mail</a>
        <img src="/assets/icons/o-email.png" alt="Email Icon" class="icon email">
      </div><!--social-link email-->
      <div class="social-link spotify">
        <a href="https://open.spotify.com/playlist/37i9dQZF1DX6xOPeSOGone?si=85bf728e78e1476b" target="_blank">Playlist <span class="text-add-spotify">Spotify</span> favorita</a>
        <img src="/assets/icons/spotify.png" alt="Spotify Icon" class="icon spotify">
      </div><!--social-link spotify-->
    </section><!--link-container-->
  </div><!--box-container-->

</main><!--link-screen-container-->

<main class="contact-screen-container">
  <div class="box-container">
    <p class="text-contact">Quer entrar em contato comigo?</p>
    <form class="contact-container">
      <input type="text" name="input-name" id="input-name" class="input-user name" placeholder="Nome" maxlength="150" required/>
      <input type="email" name="input-email" id="input-email" class="input-user name" placeholder="Seu melhor E-mail" maxlength="150" required/>
      <textarea name="input-message" id="input-message" class="input-user message" cols="30" rows="10" placeholder="Escreva sua mensagem aqui..." required></textarea>
      <button class="btn-send-message">Enviar Mensagem</button>
    </form><!--contact-container-->
  </div><!--box-container-->
</main><!--contact-screen-container-->



